body {
	font-family: 'Solway', serif;
	background-color: #ffe5ea;
}

h1 {
	margin-bottom: 12px;
	font-weight: bold;
}

#card0, #card1, #card2 {
	padding: 0 .25rem;
}

#playerStamina, #playerDefense, #playerHealth, #playerActionLabel, #playerAction, 
#cpuStamina, #cpuDefense, #cpuHealth, #cpuActionLabel, #cpuAction {
	margin-top: 1px;
	margin-bottom: 1px;
}

.card-panel {
	margin: 0;
	padding: 12px 12px 36px 12px;
}
